@font-face {
    font-family: 'Bambino';
    src: url('../../ressources/fonts/Bambino.ttf') format('TrueType');
    font-display: swap;
}

@font-face {
    font-family: 'Beckman';
    src: url('../../ressources/fonts/Beckman-Free.otf') format('OpenType');
    font-display: swap;
}