$red: #BB442F;
$yellow: #F3DF9F;
$beige: #EFE6DD;
$light-black: #231F20;
$blue-snow: #9FC1CB;

$bambino: 'Bambino', sans-serif;
$beckman: 'Beckman', sans-serif;

$mainbezier: cubic-bezier(0.4, 0, 0, 1);
$transform-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
$scale-bezier: cubic-bezier(.77,0,.18,1);
$easeout-bezier: cubic-bezier(.43,.61,.39,.99);
$elastic-bezier: cubic-bezier(.37,-0.18,.38,.99);